.property-sheet-column {
    background-color: #383838;
    color: #aaaaaa;
    font-family: 'Lucida Grande', 'Helvetica Neue', 'San Francisco';
    font-size: 12px;
}

html {
    background-color: #222222;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

svg {
    pointer-events: none;
}

div.icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
}

svg.icon-content {
    width: 32px;
    height: 32px;
}

div.icons {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div#main {
    width: 100%;
    height: 100%;
    margin: auto;
}

div.root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex: 1 1 auto;
}

div.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex: 1 1 auto;
    width: 100%;
    height: 1000px;
}

div.viewer-column {
    display: flex;
    flex: 4 4 auto;
    background-color: #616161;
}

imverse-entity-properties {
    display: flex;
    width: 100%;
    height: 100%;
}

imverse-world-viewer {
    display: flex;
    width: 100%;
    height: 100%;
}

div.property-sheet-column {
    display: flex;
    flex: 1 1 auto;
    align-self: auto;
    overflow: scroll;
    z-index: 10;
}

svg.viewer-column {
    width: 100%;
    height: 100%;
    margin: 16px;
}

table.property-sheet-column {
    width: 100%;
    user-select: none;
    -moz-user-select: -moz-none;
}

thead td .property-sheet-column {
    width: 50%;
    background-color: #444444;
}

.property .label {
    font-weight: bold;
}

td.label {
    user-select: none;
}

.structure-field .label {
    text-indent: 20px;
    color: #777777;
    user-select: none;
}

.entity {
    background-color: #616161;
    z-index: 1;
}

.entity .label {
    border-top: 2px solid #eeeeee;
}

.component {
    background-color: #414141;
}

.component .label {
    text-indent: 4px;
    border-top: 1px solid #303030;
}

.component-field .label {
    text-indent: 10px;
    color: #dfdd9d;
}
