.property-sheet {
    background-color: #383838;
    color: #aaaaaa;
    font-family: 'Lucida Grande', 'Helvetica Neue', 'San Francisco';
    font-size: 12px;
}

h1 .property-sheet {
    background-color: #414141
}

table .property-sheet {
    table-layout: fixed;
}

thead td .property-sheet {
    width: 50%;
    background-color: #444444;
}

.property .label {
    font-weight: bold;
}

.structure-field .label {
    text-indent: 12px;
    color: #eeeeee;
}
